In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
import nltk
from nltk.corpus import stopwords

Mounted at /content/drive

In [2]:
unlabelled=pd.read_csv('/content/drive/MyDrive/datasets/unlabelled_data.csv')

In [3]:
unlabelled

,Unnamed: 0,doc_id,text,country,year
0,0,ARG_25_1970.txt.1,177.\t : It is a fortunate coincidence that pr...,ARG,1970
1,1,ARG_25_1970.txt.2,"On behalf of the Argentine Government, it is a...",ARG,1970
2,2,ARG_25_1970.txt.3,178.,ARG,1970
3,3,ARG_25_1970.txt.4,Through you I should also like to express the ...,ARG,1970
4,4,ARG_25_1970.txt.5,179.,ARG,1970
...,...,...,...,...,...
2041695,2041695,ZWE_75_2020.txt.63,Ladies and Gentlemen.,ZWE,2020
2041696,2041696,ZWE_75_2020.txt.64,Let me conclude by reaffirming Zimbabwe’s comm...,ZWE,2020
2041697,2041697,ZWE_75_2020.txt.65,There is no better way of achieving a peaceful...,ZWE,2020
2041698,2041698,ZWE_75_2020.txt.66,Recommitting ourselves to these ideals will pa...,ZWE,2020
2041699,2041699,ZWE_75_2020.txt.67,I thank you.,ZWE,2020

In [5]:
labelled=pd.read_csv('/content/labelled_data.csv')

In [6]:
labelled

,Unnamed: 0,doc_id,text,country,year,coding,difficult
0,AUS_46_1991.txt.1,AUS_46_1991.txt.1,"I congratulate you, Sir, on your election as P...",AUS,1991,greeting,0.0
1,AUS_46_1991.txt.2,AUS_46_1991.txt.2,I am sure we will all benefit from your long e...,AUS,1991,greeting,0.0
2,AUS_46_1991.txt.3,AUS_46_1991.txt.3,Australia enjoys strong bonds of friendship wi...,AUS,1991,greeting,0.0
3,AUS_46_1991.txt.4,AUS_46_1991.txt.4,Australia warmly welcomes to membership of thi...,AUS,1991,greeting,0.0
4,AUS_46_1991.txt.5,AUS_46_1991.txt.5,"Equally, as a country of the Asia-Pacific regi...",AUS,1991,greeting,0.0
...,...,...,...,...,...,...,...
2645,EST_72_2017.txt.92,EST_72_2017.txt.92,"As a small country, we care for all those who ...",EST,2017,security,0.0
2646,EST_72_2017.txt.93,EST_72_2017.txt.93,"As a digital society, we are a story of hope a...",EST,2017,development,0.0
2647,EST_72_2017.txt.94,EST_72_2017.txt.94,"Again, as a digital State, we consider transpa...",EST,2017,human,0.0
2648,EST_72_2017.txt.95,EST_72_2017.txt.95,We are adamant supporters of rules-based decis...,EST,2017,democracy,0.0
2649,EST_72_2017.txt.96,EST_72_2017.txt.96,We are with those who want to make the United ...,EST,2017,un,0.0

In [7]:
unlabelled[(unlabelled['country'] == 'EST') & (unlabelled['year'] == 2017)]

,Unnamed: 0,doc_id,text,country,year
1977288,1977288,EST_72_2017.txt.1,"Our world is unpredictable, and much of that u...",EST,2017
1977289,1977289,EST_72_2017.txt.2,Climate change could be counterbalanced by rap...,EST,2017
1977290,1977290,EST_72_2017.txt.3,"Clearly, although technological development — ...",EST,2017
1977291,1977291,EST_72_2017.txt.4,This new world offers opportunities.,EST,2017
1977292,1977292,EST_72_2017.txt.5,"Unfortunately, it also enhances the risks.",EST,2017
...,...,...,...,...,...
1977380,1977380,EST_72_2017.txt.93,"As a small country, we care for all those who ...",EST,2017
1977381,1977381,EST_72_2017.txt.94,"As a digital society, we are a story of hope a...",EST,2017
1977382,1977382,EST_72_2017.txt.95,"Again, as a digital State, we consider transpa...",EST,2017
1977383,1977383,EST_72_2017.txt.96,We are adamant supporters of rules-based decis...,EST,2017
1977384,1977384,EST_72_2017.txt.97,We are with those who want to make the United ...,EST,2017

In [18]:
labelled[(labelled['country'] == 'EST') & (labelled['year'] == 2017)]

,Unnamed: 0,doc_id,text,country,year,coding,difficult
2554,EST_72_2017.txt.1,EST_72_2017.txt.1,"Our world is unpredictable, and much of that u...",EST,2017,development,1.0
2555,EST_72_2017.txt.2,EST_72_2017.txt.2,Climate change could be counterbalanced by rap...,EST,2017,development,1.0
2556,EST_72_2017.txt.3,EST_72_2017.txt.3,"Clearly, although technological development - ...",EST,2017,development,0.0
2557,EST_72_2017.txt.4,EST_72_2017.txt.4,This new world offers opportunities.,EST,2017,development,1.0
2558,EST_72_2017.txt.5,EST_72_2017.txt.5,"Unfortunately, it also enhances the risks.",EST,2017,development,1.0
...,...,...,...,...,...,...,...
2645,EST_72_2017.txt.92,EST_72_2017.txt.92,"As a small country, we care for all those who ...",EST,2017,security,0.0
2646,EST_72_2017.txt.93,EST_72_2017.txt.93,"As a digital society, we are a story of hope a...",EST,2017,development,0.0
2647,EST_72_2017.txt.94,EST_72_2017.txt.94,"Again, as a digital State, we consider transpa...",EST,2017,human,0.0
2648,EST_72_2017.txt.95,EST_72_2017.txt.95,We are adamant supporters of rules-based decis...,EST,2017,democracy,0.0
2649,EST_72_2017.txt.96,EST_72_2017.txt.96,We are with those who want to make the United ...,EST,2017,un,0.0

In [19]:
ul = list(unlabelled[(unlabelled['country'] == 'EST') & (unlabelled['year'] == 2017)]['text'])
l = list(labelled[(labelled['country'] == 'EST') & (labelled['year'] == 2017)]['text'])

In [10]:
ul[2]

'Clearly, although technological development — especially as it is illustrated by the rapidly developing digital technologies to which billions now have access — has a positive potential for transformation, it actually adds to the difficulties of understanding our future.'

In [11]:
l[2]

'Clearly, although technological development - especially as it is illustrated by the rapidly developing digital technologies to which billions now have access - has a positive potential for transformation, it actually adds to the difficulties of understanding our future.'

In [ ]:
from difflib import SequenceMatcher
ratios = SequenceMatcher(None, l[2], ul[2]).ratio()
ratios

0.992619926199262

In [28]:
mask = unlabelled['country'].isin(labelled['country']) & unlabelled['year'].isin(labelled['year']) & unlabelled['doc_id'].isin(labelled['doc_id'])

In [31]:
final_unlabelled = unlabelled[~mask]

In [33]:
final_unlabelled

,Unnamed: 0,doc_id,text,country,year
0,0,ARG_25_1970.txt.1,177.\t : It is a fortunate coincidence that pr...,ARG,1970
1,1,ARG_25_1970.txt.2,"On behalf of the Argentine Government, it is a...",ARG,1970
2,2,ARG_25_1970.txt.3,178.,ARG,1970
3,3,ARG_25_1970.txt.4,Through you I should also like to express the ...,ARG,1970
4,4,ARG_25_1970.txt.5,179.,ARG,1970
...,...,...,...,...,...
2041695,2041695,ZWE_75_2020.txt.63,Ladies and Gentlemen.,ZWE,2020
2041696,2041696,ZWE_75_2020.txt.64,Let me conclude by reaffirming Zimbabwe’s comm...,ZWE,2020
2041697,2041697,ZWE_75_2020.txt.65,There is no better way of achieving a peaceful...,ZWE,2020
2041698,2041698,ZWE_75_2020.txt.66,Recommitting ourselves to these ideals will pa...,ZWE,2020
2041699,2041699,ZWE_75_2020.txt.67,I thank you.,ZWE,2020

In [ ]:
merge_df = pd.merge(unlabelled, labelled, on=['country', 'year', 'text'])

In [ ]:
merge_df

,Unnamed: 0_x,doc_id_x,text,country,year,Unnamed: 0_y,doc_id_y,coding,difficult
0,535484,AUS_46_1991.txt.2,I am sure we will all benefit from your long e...,AUS,1991,AUS_46_1991.txt.2,AUS_46_1991.txt.2,greeting,0.0
1,535485,AUS_46_1991.txt.3,Australia enjoys strong bonds of friendship wi...,AUS,1991,AUS_46_1991.txt.3,AUS_46_1991.txt.3,greeting,0.0
2,535486,AUS_46_1991.txt.4,Australia warmly welcomes to membership of thi...,AUS,1991,AUS_46_1991.txt.4,AUS_46_1991.txt.4,greeting,0.0
3,535487,AUS_46_1991.txt.5,"Equally, as a country of the Asia-Pacific regi...",AUS,1991,AUS_46_1991.txt.5,AUS_46_1991.txt.5,greeting,0.0
4,535488,AUS_46_1991.txt.6,And Australia having been among the first coun...,AUS,1991,AUS_46_1991.txt.6,AUS_46_1991.txt.6,greeting,0.0
...,...,...,...,...,...,...,...,...,...
416,1977380,EST_72_2017.txt.93,"As a small country, we care for all those who ...",EST,2017,EST_72_2017.txt.92,EST_72_2017.txt.92,security,0.0
417,1977381,EST_72_2017.txt.94,"As a digital society, we are a story of hope a...",EST,2017,EST_72_2017.txt.93,EST_72_2017.txt.93,development,0.0
418,1977382,EST_72_2017.txt.95,"Again, as a digital State, we consider transpa...",EST,2017,EST_72_2017.txt.94,EST_72_2017.txt.94,human,0.0
419,1977383,EST_72_2017.txt.96,We are adamant supporters of rules-based decis...,EST,2017,EST_72_2017.txt.95,EST_72_2017.txt.95,democracy,0.0
420,1977384,EST_72_2017.txt.97,We are with those who want to make the United ...,EST,2017,EST_72_2017.txt.96,EST_72_2017.txt.96,un,0.0

In [ ]:
test=unlabelled[unlabelled['doc_id'].isin(labelled['doc_id'])]

In [ ]:
labelled[~labelled['doc_id'].isin(test['doc_id'])]

,doc_id,text,country,year,coding,difficult
1432,AFG_58_2003.txt.1,There is no reality more oppressive than the s...,AFG,2003,security,0.0
1433,AFG_58_2003.txt.2,"For too long, Afghanistan was a silenced natio...",AFG,2003,security,0.0
1434,AFG_58_2003.txt.3,After decades of being suppressed into silence...,AFG,2003,security,0.0
1435,AFG_58_2003.txt.4,Recovering from the tragedy of war and destruc...,AFG,2003,security,0.0
1436,AFG_58_2003.txt.5,A lot has changed in Afghanistan over the last...,AFG,2003,security,1.0
...,...,...,...,...,...,...
1510,AFG_58_2003.txt.79,That must stop.,AFG,2003,security,1.0
1511,AFG_58_2003.txt.80,We must defeat the forces and ideas of violenc...,AFG,2003,security,0.0
1512,AFG_58_2003.txt.81,Today terrorism is a liability to the Governme...,AFG,2003,security,0.0
1513,AFG_58_2003.txt.82,Governments must stop using extremism as an in...,AFG,2003,security,0.0
1514,AFG_58_2003.txt.83,As long as terrorism survives in this part of ...,AFG,2003,security,0.0

In [ ]:
i=0
while len(unlabelled[unlabelled['doc_id']=='AUS_46_1991.txt.'+str(i)])!=0:
    print(len(unlabelled[unlabelled['doc_id']=='AUS_46_1991.txt.'+str(i)]))
    i+=1

In [ ]:
print(unlabelled[unlabelled['doc_id']=='AUS_46_1991.txt.'+str(42)]['text'].item())