In [57]:
import pandas as pd

In [71]:
unlabelled=pd.read_csv('unlabelled_data.csv')

In [59]:
labelled=pd.read_csv('HumanCoding.csv')

In [60]:
labelled.drop('Unnamed: 0', axis=1, inplace=True)

In [61]:
label_doc=labelled['doc_id']

In [62]:
unlabelled.drop('Unnamed: 0', axis=1, inplace=True)

In [72]:
unlabelled

Empty DataFrame
Columns: [Unnamed: 0, doc_id, text, country, year]
Index: []

In [63]:
label_doc

0        AUS_46_1991.txt.1
1        AUS_46_1991.txt.2
2        AUS_46_1991.txt.3
3        AUS_46_1991.txt.4
4        AUS_46_1991.txt.5
               ...
2645    EST_72_2017.txt.92
2646    EST_72_2017.txt.93
2647    EST_72_2017.txt.94
2648    EST_72_2017.txt.95
2649    EST_72_2017.txt.96
Name: doc_id, Length: 2650, dtype: object

In [64]:
unlabelled.isin(labelled)

Empty DataFrame
Columns: [doc_id, text, country, year]
Index: []

In [65]:
1440957 - 2650

1438307

In [66]:
test=unlabelled[unlabelled['doc_id'].isin(labelled['doc_id'])]

In [67]:
labelled[~labelled['doc_id'].isin(test['doc_id'])]

,doc_id,text,country,year,coding,difficult
0,AUS_46_1991.txt.1,"I congratulate you, Sir, on your election as P...",AUS,1991,greeting,0.0
1,AUS_46_1991.txt.2,I am sure we will all benefit from your long e...,AUS,1991,greeting,0.0
2,AUS_46_1991.txt.3,Australia enjoys strong bonds of friendship wi...,AUS,1991,greeting,0.0
3,AUS_46_1991.txt.4,Australia warmly welcomes to membership of thi...,AUS,1991,greeting,0.0
4,AUS_46_1991.txt.5,"Equally, as a country of the Asia-Pacific regi...",AUS,1991,greeting,0.0
...,...,...,...,...,...,...
2645,EST_72_2017.txt.92,"As a small country, we care for all those who ...",EST,2017,security,0.0
2646,EST_72_2017.txt.93,"As a digital society, we are a story of hope a...",EST,2017,development,0.0
2647,EST_72_2017.txt.94,"Again, as a digital State, we consider transpa...",EST,2017,human,0.0
2648,EST_72_2017.txt.95,We are adamant supporters of rules-based decis...,EST,2017,democracy,0.0
2649,EST_72_2017.txt.96,We are with those who want to make the United ...,EST,2017,un,0.0

In [68]:
i=0
while len(unlabelled[unlabelled['doc_id']=='AUS_46_1991.txt.'+str(i)])!=0:
    print(len(unlabelled[unlabelled['doc_id']=='AUS_46_1991.txt.'+str(i)]))
    i+=1

In [69]:
print(unlabelled[unlabelled['doc_id']=='AUS_46_1991.txt.'+str(42)]['text'].item())

ValueError: can only convert an array of size 1 to a Python scalar